{% load static %}

<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    
</head>
<body>
    <h2>Olá {{nome}}, clique no botão a seguir para verificar seu email e ter acesso a aula: 
    <a href="{{link_confirmacao}}"><button style="background: #069cc2; border-radius: 6px; padding: 5px; cursor:auto; color: #fff; border: none; font-size: 16px;">Aqui</button></a></h2>
</body>
</html>
