body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Tornar o corpo da página ocupar no mínimo 100% da altura da viewport */
    display: flex;
    flex-direction: column;
}
/* O content ocupa todo o espaço disponível no contêiner flexível  */

#content {
    flex: 1;  
}

#footer {
    background: #343A40;
    color: #ffffff;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

@media screen and (max-width: 758px) {
    #footer {
        flex-direction: column;
        /* margin: 20px 10%; */
        gap: 1rem;
    }
}
